Health Insurance Dataset

In [1]:
# Importing the libraries

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# Import psql to run queries 

import pandasql as psql

In [6]:
#load the health insurance datset 

HealthIns = pd.read_csv(r"/home/kevinmithnick/Documents/AIMLInternship/Datasets/Health_Ins_Expenses.csv", header=0)

#copying into backup files 

HealthIns_BK = HealthIns.copy()

# Displaying the first 5 rows of the dataset

'''
The head() function can be called on a DataFrame or a Series object, and by default, it returns the first 5 rows. 
You can also pass an optional parameter n to specify the number of rows you want to retrieve.

'''

HealthIns.head()

      Record_ID  Age Gender    BMI  Children Smoker     Region  Expenses
0  QK-136276906   43   male  36.25         1    yes  southeast  40293.04
1  NR-126120553   40   male  34.56         2     no  southeast  23569.63
2  HY-182936067   48   male  26.04         5     no  southwest  10115.35
3  HF-142445422   50   male  31.09         3    yes  northwest  40736.57
4  NM-183693148   42   male  33.04         1    yes  northeast  39144.85

In [7]:
#Display the dataset information

HealthIns.info()

#Display the dataset shape

HealthIns.shape

'''  
In pandas, the shape attribute of dataframe gives the number of rows and number of columns in dataframe.
it return the tuple of shape (Rows, columns) of dataframe.
The shape attribute is commonly used to check the dimensions of a DataFrame or Series, 
especially when you need to perform operations or transformations based on the size or structure of the data.

'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6695 entries, 0 to 6694
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Record_ID  6695 non-null   object
 1   Age        6695 non-null   int64
 2   Gender     6695 non-null   object
 3   BMI        6695 non-null   float64
 4   Children   6695 non-null   int64
 5   Smoker     6695 non-null   object
 6   Region     6695 non-null   object
 7   Expenses   6695 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 418.6+ KB

(6695, 8)

In [4]:
#Displaying Duplicate values in the dataset

HealthIns_dup = HealthIns[HealthIns.duplicated(keep = 'last')]

'''

The duplicated() function in Pandas checks each row in the DataFrame and 
returns a boolean Series indicating whether each row is a duplicate or not. 
By specifying keep='last', only the last occurrence of each duplicate
row will be considered as a duplicate, and the previous occurrences will be marked 
as non-duplicates.

'''
#Displaying the duplicate values

HealthIns_dup

        Record_ID  Age  Gender    BMI  Children Smoker     Region  Expenses
240  ZZ-131148293   22  female  24.73         1     no  southeast   2216.02
241  BQ-160063838   21  female  37.40         0     no  southeast   1634.08
242  UO-189044287   57    male  43.70         1     no  southwest  11576.13
246  OT-130753432   41  female  30.18         1     no  southeast   6515.36
247  BH-153144132   50    male  36.20         0     no  southwest   8457.82

In [11]:
print(pd.__version__)

2.0.3

In [12]:
#Removing the identified duplicate values

HealthIns.drop_duplicates(keep = 'last', inplace = True)

'''

inplace=True: This parameter is optional and modifies the DataFrame in-place, meaning the changes are applied directly to the HealthIns DataFrame without creating a new DataFrame
.Setting inplace=True avoids the need to assign the result back to the DataFrame.

'''


#Displaying the shape of the dataset after removing the duplicate values

HealthIns.shape

'''
It's important to note that the drop_duplicates() method compares all columns by default to identify duplicates.
If you want to consider specific columns for duplicate detection, you can pass a subset of columns using the subset parameter.

'''

"\nIt's important to note that the drop_duplicates() method compares all columns by default to identify duplicates.\nIf you want to consider specific columns for duplicate detection, you can pass a subset of columns using the subset parameter.\n\n"

In [13]:
#Re-setting the row index  

HealthIns = HealthIns.reset_index(drop = True)

#copy file to backup file after deleting the duplicate values

HealthIns_BK2 = HealthIns.copy()

In [ ]:
#Displaying the dataset information after removing the duplicate values

In [43]:
'''
The tail() function can be called on a DataFrame or a Series object, and by default, it returns the last 5 rows.
You can also pass an optional parameter n to specify the number of rows you want to retrieve.

'''
HealthIns.tail()

         Record_ID  Age  Gender    BMI  Children  Smoker  Region  Expenses
6685  TS-123508014   64       1  26.40         0       0       4  14394.56
6686  CY-192619047   33       0  26.27         0       0       1   3763.99
6687  EU-143129392   45       0  28.60         2       0       1   8516.83
6688  VG-170585902   58       1  32.53         1       0       4  11772.37
6689  ES-142229065   47       0  28.08         1       0       1   8251.41

In [16]:
#display the unique values in the dataset

HealthIns.nunique()

'''
In Pandas, the nunique() function is used to calculate the number of unique values in a Series or DataFrame column. It returns the count of distinct elements present in the column.

The nunique() function can be applied to a single column (Series) or an entire DataFrame.

'''

Record_ID    6690
Age            51
Gender          2
BMI          2227
Children        6
Smoker          2
Region          4
Expenses     6673
dtype: int64

In [17]:
#display the missing values information of variables 

HealthIns.isnull().sum()

Record_ID    0
Age          0
Gender       0
BMI          0
Children     0
Smoker       0
Region       0
Expenses     0
dtype: int64

In [23]:
#Display 'Gender' Categorial variable

'''
value_counts(): This method is applied to the 'Gender' column and calculates the frequency/count of each unique value in that column.
'''

HealthIns['Gender'].value_counts()

Gender
male      3401
female    3289
Name: count, dtype: int64

In [35]:
#Replace 'Gender' variable and convert to integer values

HealthIns['Gender'] = HealthIns['Gender'].replace({'male':1,'female':0})

print(HealthIns['Gender'].value_counts())

Gender
1    3401
0    3289
Name: count, dtype: int64

In [36]:
#replace 'smoker' variable and convert to integer values

HealthIns['Smoker'] = HealthIns['Smoker'].replace({'yes':1,'no':0})

HealthIns['Smoker'].value_counts()

Smoker
0    5320
1    1370
Name: count, dtype: int64

In [30]:
#display 'Region' categorical variable

HealthIns['Region'].value_counts()

Region
southeast    1820
southwest    1625
northwest    1625
northeast    1620
Name: count, dtype: int64

In [40]:
#Replace 'Region' variable and convert to integer values

HealthIns['Region'] = HealthIns['Region'].replace({'southeast':1,'southwest':2,'northwest':3,'northeast':4})

HealthIns['Region'] = HealthIns['Region'].astype(int)

In [41]:
pwd

'/home/kevinmithnick/Documents/AIML Internship'

In [38]:
#display the dataset information after replacing the categorical variables

HealthIns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6690 entries, 0 to 6689
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Record_ID  6690 non-null   object
 1   Age        6690 non-null   int64
 2   Gender     6690 non-null   int64
 3   BMI        6690 non-null   float64
 4   Children   6690 non-null   int64
 5   Smoker     6690 non-null   int64
 6   Region     6690 non-null   int64
 7   Expenses   6690 non-null   float64
dtypes: float64(2), int64(5), object(1)
memory usage: 418.2+ KB

In [44]:
#displaying all variables

HealthIns.columns

Index(['Record_ID', 'Age', 'Gender', 'BMI', 'Children', 'Smoker', 'Region',
       'Expenses'],
      dtype='object')

In [69]:
#idenifying the variables for scaling (minmaxscaler)

cols = ['Age','BMI','Children','Region']

In [71]:
#Delete variables which are not influencing the target variable

del HealthIns['Record_ID']

KeyError: 'Record_ID'

In [72]:
HealthIns.head()

   Age  Gender    BMI  Children  Smoker  Region  Expenses
0   43       1  36.25         1       1       1  40293.04
1   40       1  34.56         2       0       1  23569.63
2   48       1  26.04         5       0       2  10115.35
3   50       1  31.09         3       1       3  40736.57
4   42       1  33.04         1       1       4  39144.85

In [73]:
#identifying the independent and target (dependent) variables

indepVar = []
 
for col in HealthIns.columns:
    if col != 'Expenses':
        indepVar.append(col)
TargetVar = 'Expenses'

x = HealthIns[indepVar]
y = HealthIns[TargetVar]

In [74]:
#split the data into train and test (random smapling )

'''

from sklearn.model_selection import train_test_split: This line imports the train_test_split() function from the sklearn.model_selection module. 
It is used to split the data into training and testing sets.

x and y: These are typically the input features (x) and target variable (y) that you want to split into training and testing sets.

test_size=0.3: This parameter specifies the proportion of the data that should be allocated to the testing set. 
In this case, 30% of the data will be assigned to the testing set, while the remaining 70% will be used for training.

random_state=42: This parameter sets the random seed for reproducibility. It ensures that the data split will be the same every time you run the code with the same random_state value.
This is useful if you want to obtain consistent results

'''

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 42)

#display the shape of the train and test data

x_train.shape,x_test.shape,y_train.shape,y_test.shape

((4683, 6), (2007, 6), (4683,), (2007,))

In [75]:
# Scaling the features by using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler(feature_range=(0, 1))

x_train[cols] = mmscaler.fit_transform(x_train[cols])
x_train = pd.DataFrame(x_train)

x_test[cols] = mmscaler.fit_transform(x_test[cols])
x_test = pd.DataFrame(x_test)

REGRESSION ALGORITHM

In [76]:
#train the algorithm 

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(x_train,y_train)

#predict the test data

y_pred = lr.predict(x_test)

In [80]:
# Evaluation metrics for Regression model
from sklearn import metrics
print('Mean Absolute Error(MAE):',round(metrics.mean_absolute_error(y_test,y_pred),3))
print('Mean Squared Error(MSE):',round(metrics.mean_squared_error(y_test,y_pred),3))
print('Root Mean Squared Error(RMSE):',round(np.sqrt(metrics.mean_absolute_error(y_test,y_pred)),3))
print('R2_score:',round(metrics.r2_score(y_test,y_pred),6))
print('Mean Absolute Percentage Error(MAPE):',round(metrics.mean_absolute_percentage_error(y_test,y_pred)*100,3),'%')
print('Root Mean Squared Log Error(RMSLE):',round(np.log(np.sqrt(metrics.mean_absolute_error(y_test,y_pred))),3))

Mean Absolute Error(MAE): 4266.033
Mean Squared Error(MSE): 36586826.727
Root Mean Squared Error(RMSE): 65.315
R2_score: 0.7572
Mean Absolute Percentage Error(MAPE): 44.803 %
Root Mean Squared Log Error(RMSLE): 4.179

In [81]:
# Define the function to calculate the MAPE - Mean Absolute Percentage Error

def MAPE (y_test, y_pred): 
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

# Evaluation of MAPE 

result = MAPE(y_test, y_pred)
print('Mean Absolute Percentage Error (MAPE):', round(result, 3), '%')

Mean Absolute Percentage Error (MAPE): 44.803 %

In [85]:
#Calculate the Adjusted R square value

r_squared  = round(metrics.r2_score(y_test,y_pred),6)
adjusted_r_squared = round(1 - (1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),3)
print('Adjusted R square value:',adjusted_r_squared)

Adjusted R square value: 0.757

In [87]:
#Display the final results 

results = pd.DataFrame({'Expenses_A':y_test,'Expenses_P':y_pred})

#Merge two Dataframes on index of both the dataframes

ResultsFinal = HealthIns_BK2.merge(results, left_index=True, right_index=True)

#Display 10 records randomly

ResultsFinal.sample(5)

,Record_ID,Age,Gender,BMI,Children,Smoker,Region,Expenses,Expenses_A,Expenses_P
2436,LD-198458766,61,female,31.99,0,yes,northwest,43590.07,43590.07,36954.836768
3879,SU-157890217,49,female,24.68,1,no,southwest,26238.33,26238.33,7957.131640
5831,QY-197644831,61,male,40.69,0,yes,southwest,48179.32,48179.32,39366.289686
4421,VS-156242441,18,male,33.70,0,no,southeast,1136.40,1136.40,2271.955445
5603,PY-164851756,21,female,25.23,1,no,northwest,2715.16,2715.16,1577.412607