In [1]:
# Importing the libraries

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# Import psql to run queries 

import pandasql as psql

In [2]:
# Load the general dataset

BMI_Master = pd.read_csv(r"D:\00 Henotic\SRKR\Datasets\BMI_Analysis_V1.1.csv", header=0)

# Copy to back-uo file

BMI_01 = BMI_Master.copy()

# Display first 5 records

BMI_Master.head()

   Height_M  Weight_kg  Fat_age    BMI
0      1.60      49.44     23.9  19.31
1      1.65      62.60     28.8  22.96
2      1.65      75.75     32.4  27.79
3      1.53      48.99     25.8  20.92
4      1.45      43.09     22.5  20.38

In [3]:
BMI_01.shape

(92, 4)

In [4]:
# Eliminate the outlier in 'Height' and write data to new file

Height_UL = round(BMI_01.Height_M.mean() + 3 * BMI_01.Height_M.std(),3)
Height_LL = round(BMI_01.Height_M.mean() - 3 * BMI_01.Height_M.std(),3)
BMI_02 = BMI_01[(BMI_01.Height_M > Height_LL) & (BMI_01.Height_M < Height_UL)]
BMI_02.shape

(92, 4)

In [5]:
# Eliminate the outlier in 'Weight' and write data to new file

Weight_UL = round(BMI_02.Weight_kg.mean() + 3 * BMI_02.Weight_kg.std(),3)
Weight_LL = round(BMI_02.Weight_kg.mean() - 3 * BMI_02.Weight_kg.std(),3)
BMI_03 = BMI_02[(BMI_02.Weight_kg > Weight_LL) & (BMI_02.Weight_kg < Weight_UL)]
BMI_03.shape

(91, 4)

In [6]:
BMI_02[(BMI_02.Weight_kg < Weight_LL) | (BMI_02.Weight_kg > Weight_UL)]

    Height_M  Weight_kg  Fat_age    BMI
56      1.59      87.54     38.0  34.46

In [7]:
# Eliminate the outlier in 'Fat_age' and write data to new file

Fat_age_UL = round(BMI_03.Fat_age.mean() + 3 * BMI_03.Fat_age.std(),3)
Fat_age_LL = round(BMI_03.Fat_age.mean() - 3 * BMI_03.Fat_age.std(),3)
BMI_04 = BMI_03[(BMI_03.Fat_age > Fat_age_LL) & (BMI_03.Fat_age < Fat_age_UL)]
BMI_04.shape

(91, 4)

In [8]:
# Eliminate the outlier in 'BMI' and write data to new file

BMI_UL = round(BMI_04.BMI.mean() + 3 * BMI_04.BMI.std(),3)
BMI_LL = round(BMI_04.BMI.mean() - 3 * BMI_04.BMI.std(),3)
BMI_05 = BMI_04[(BMI_04.BMI > BMI_LL) & (BMI_04.BMI < BMI_UL)]
BMI_05.shape

(90, 4)

In [9]:
BMI_05_EL = BMI_04[(BMI_04.BMI < BMI_LL) | (BMI_04.BMI > BMI_UL)]
BMI_05_EL

    Height_M  Weight_kg  Fat_age    BMI
52      1.58      83.91     46.0  33.57

In [ ]:
BMI_05.info()

In [ ]:
len(BMI_05)